<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body {
    font-family: sans-serif;
    margin: 0px;
}
.topo {
    color: #fff;
    background: #3d3d47;
    padding: 10px 90px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.corpo {
    margin: 90px;
}
.h1 {
    font-size: 25px;
    padding: 30px 0px;
}
.nome {
    font-size: 20px;
}

li {
    background: #eee;
    padding: 11px;
    list-style: 'route: ';
    margin: 15px;
}
.rota {
    font-size: 20px;
    font-family: monospace;
    background: #ccc;
    padding: 0px 15px;
    cursor: pointer;
}
.req {
    margin: 0px;
    font-family: monospace;
    font-size: 17px;
}

.resp {
    margin: 0px;
    font-size: 17px;
}

.aa{
    font-size: 0px;
}

.visto{ 
        animation: in-blok .5s cubic-bezier(0.4, 0.01, 0.33, 1.12) forwards; 
}
.link:hover {
    background: #e3fbe0;
}
.link:active {
    background: #4bfac3;
}


@keyframes in-blok{
    0%{
        font-size: 0px;
        margin: 0px;
    }
    100%{
        font-size: 17px;
        margin:19px ;
        }
}


</style>
<title>Documentation</title>
</head>
<body>

    {%set doc = {
        '/doc':{
            'meth':"GET",
            'out':"html",
            'msg':"Fazendo um 'get' a resposta se ver nessa documentação."
            },

        '/login/entrar/null':{
            'meth': 'POST form-data ->  {"user": str, "pwd": str}',
            'out': 'Json -> {"response": bool, "msg": str, "token": hex, "csv":bool, "csv_espera":bool, "chamada":int, "ip":str}',
            'msg': "Para fazer login autenticado pelo LDAP"
            },

        '/$(user)/upcsv/chave':{
                'meth':'POST form-data ->  {"filecsv": file, *"pwd":str}',
                'out':'Json -> {"response": bool, "msg": str }',
                'msg':"Para fazer upload da lista de candidatos no formato CSV <br>*'pwd' se o arquivo ja existir"
            },

        '/$(user)/candidatos/chave':{
                'meth':'POST json ->  {"campo":str, "filtro":str, "acao":"add | del | cls"}',
                'out':'Json -> {"alunos": list, "campos_valores":{"campo": list }, "filtro":{"campo":str} }',
                'msg':"Retorna : alunos filtrados por chave: valor | filtros ativos | campos e filtros"
            },

        '/$(user)/get_dados_inscrito/chave':{
                'meth':'POST json ->  {"cpf":str}',
                'out':'Json -> {"response": bool, "dados":json}',
                'msg':"Retorna : dados de um candidato"
            },
        
        '/$(user)/enviar_email/chave':{
                'meth':'POST json ->  {"NU_CPF_INSCRITO": cpf | "all"}',
                'out':'Json -> {"response": boll, "msg":"confirmação via socket"}',
                'msg':"para enviar email: user é apenas um candidato, formato json | 'all' é para todos filtrados <br>
                Para Socket_IO: <br> emit > 'on_clinete()'  -> str 'email'
                <br>rota > $(host)/$(usuario) "
            },

        '/$(user)/autenticar/chave':{
                'meth':'POST json ->  {"acao": "listar | *ver | *deferir | *indeferir | *pendente" ,  *"cpf": str, *"texto":str , *"alter":json}',
                'out':'Json -> {"response": boll, "msg":"confirmação via socket"}',
                'msg':"Lista todos que ja validaram os dados <br>
                *ver  *validar * reset : deve conter *cpf <br>
                *reset : deve conter *texto <br>
                *validar : deve conter *alter > {'NO_CAMPO' : 'NEW_VALUE'} "
            },
        '/$(user)/relatorio_matriculados/chave':{
                'meth':'POST ',
                'out':'Json -> {"response": boll, "token":str}',
                'msg':"Gera o relatorio final de matriculados arquivo .csv disponivel em /file/chave?token=$(token)"
            },
        
        '/$(user)/up_csv_espera/chave':{
                'meth':'POST form-data',
                'out':'Json -> {"response": boll, "msg":str}',
                'msg':"fazer upload de csv da lista de espera"
            },

        '/$(user)/rankear/chave':{
                'meth':'POST',
                'out':'Json -> {"response": boll, "msg":str}',
                'msg':"fazer nova chamda sobre a lista de espera"
            },
        
        '/$(user)/file/chave':{
                'meth':'Get -> ARGS {"token":str}',
                'out':'file -> file',
                'msg':"Retorna o arquivo referente a refernete ao token"
            },

        '/$(user)/sair/chave':{
                'meth':'POST',
                'out':'file -> {"response" : bool}',
                'msg':"para sair"
            },

        '/matricula/login/none':{
                'meth':'POST json ->  {"pwd":str, "email":str, "cpf": str}',
                'out':'Json -> {"dados": json , "response":bool, "token":str }',
                'msg':"Retorna : para login de inscrito externos "
            },
        
        '/matricula/$(user)/all_dados':{
                'meth':'POST',
                'out':'Json -> {"response": bool, "msg":str, "dados":json }',
                'msg':"para ver todos os dados a ser validado"
                },

        '/matricula/$(user)/send_dados':{
            'meth':'POST json ->  {"confirm":bool, "erro": str}',
            'out':'Json -> {"response": bool, "msg":str }',
            'msg':"Retorna : para inscrito enviar seus dados"
            },

        '/matricula/$(user)/send_file':{
            'meth':'POST data-form : file ->  {"sexo":"M | F","rg_frente": .pdf, "rg_costa": .pdf, "cpf": .pdf, "nascimento": .pdf, "residencia": .pdf, "hitorico_escolar": .pdf  , "quitacao_eleitoral": .pdf, "inexistencia_vinculo": .pdf, "certificado": .pdf }',
            'out':'Json -> {"response": bool, "msg":str}',
            'msg':"Retorna : para inscrito enviar o PDF"
            },
            
        '/matricula/$(user)/etapa':{
            'meth':'POST',
            'out':'Json -> {"response": bool, "etapa":int}',
            'msg':"Retorna : para inscrito enviar o PDF"
            },
        
        '/matricula/$(user)/meu_pdf':{
            'meth':'POST',
            'out':'Json -> {"response": bool, "lista": list}',
            'msg':"para listar os pdf requisitados do inscrito"
            },

        '/matricula/$(user)/modelo_docs':{
            'meth':'POST json ->  {"file":"all" | str}',
            'out':'Json -> {"response": bool, "files" : list }  | file ',
            'msg':"para ver todos os modelos de documentos"
            },
        
        '/matricula/$(user)/sair':{
                'meth':'POST',
                'out':'Json -> {"response": bool, "msg":str}',
                'msg':"para sair"
                }
        }

    %}

    <div class="topo">
        <div>
            SIM_api v0.1
        </div>
        <div class="nome">
            by:williams_sousa
        </div>
    </div>
    
    <div class="corpo">
        <span class="h1">Documentação para uso de API</span> <br><br>
        As rotas abaixo mostram as entradas e saída, além de como as requisições devem ser feita usado GET ou POST 
        <br>Caso não seja seguido, o servidor tera como resposta erro da casa de 500.
        <br> <br>
        <ul>
            {%set lista=[]%}
            {%set cont=0%}
            {%for i in doc%}
            {%set __ = lista.append(0)%}
            {%set cont = lista | length%}
            <li class="link" id="li{{cont}}" onclick="ver('div{{cont}}')"> 
                {{cont}} <span class="rota">{{i}}</span> 
                <div class="req aa div{{cont}}">
                    Meth:{{doc[i]['meth']}}<br>
                    Out:{{doc[i]['out']}} 
                </div>
                <div class="resp aa div{{cont}}">
                    {{doc[i]['msg']|safe }}
                </div>
            </li>
            {%endfor%}
        </ul> <hr>



    </div>

<script>
    function ver(id_div){
        const aa=document.querySelectorAll('.visto');
        console.log(aa)

        aa.forEach(item =>{
            item.classList.remove('visto');
            })
        
        const div=document.querySelectorAll('.'+id_div);
        console.log(div)

        div.forEach(element => {
            console.log(element)
            element.classList.add('visto');
        });
    }

</script>
    
</body>
</html>
