Olá {NO_INSCRITO}<br>
Parabéns! Informamos que você foi aprovado(a) para o curso de 
<b>{NO_CURSO}</b> da <b>{NO_IES}.</b> <br>
<br>
Entre no link <a href="https://sistemas.ufnt.edu.br/sim">SISTEMA INSTITUCIONAL DE MATRICULA</a> 
para realizar a sua matricula eletrônica.<br>
Use para login: <br>
CPF: {NU_CPF_INSCRITO:0>11} <br>
E-mail: {DS_EMAIL} <br>
Senha: {pwd_sem_hash} <br>
<br>
Caso deixe de realizar a matrícula eletrônica, conforme prazo da convocatória, você perderá o direito à vaga.
<br><br>
As informações de como proceder estarão disponíveis no sistema SIM. <br><br>
